<h1>Add a New Link</h1>

<form action="/insert_item" method="post">
  <div>
    <label for="link_url_field">Link URL</label>
    <input id="link_url_field" name="query_link_url" type="text" />
  </div>

  <div>
    <label for="description_field">Link Description</label>
    <input id="description_field" name="query_link_description" type="text" />
  </div>

  <div>
    <label for="thumbnail_field">Thumbnail URL</label>
    <input id="thumbnail_field" name="query_thumbnail_url" type="text" />
  </div>

  <div>
    <button>Create item</button>
  </div>
</form>
